.hide
{
    display: none;
}

.BarleyBreak
{
    background-image: url(../img/bg.png);
    z-index: 1;
}

.BarleyBreakAnimation
{
    position: absolute;

    top: -9999px;
    z-index: 2;
}

.dark
{
    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #000;
    opacity: 0.8;
}

.win-popup
{
    display: none;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    margin: -40px 0 0 -100px;

    width: 200px;
    height: 80px;

    background-color: #CCC;
    text-align: center;
    line-height: 80px;
    border-radius: 10px;
  
    font-family: 'Tahoma';
    font-size: 13px;
}

.close
{
    position: absolute;
    top:2px;
    right: 2px;

    width: 15px;
    height: 15px;
    
    background-color: #444;
    color: #CCC;
    border-radius:100%;
    line-height: 14px;
    cursor:pointer;

    font-size: 10px;
    font-family: Arial;
}

.game-wrapper
{
    text-align: center;
}

.game_small
{
    position: fixed;
    top: 31px;
    left: 0;

    width: 100%;
    height: 100%;
}

.barley-timer
{
    position: absolute;

    height: 23px;
    
    padding: 2px 5px;
    margin-top: -10px;
    
    font-family: Verdana;
    line-height: 21px;

    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px #555;
    border-radius: 5px;
}

.barley-timer div
{
    display: table-cell;

    min-width: 10px;
}

.control__timer-checkbox
{
    margin-left: 10px;
}

.control__block
{
    margin-top: -15px;
}

.images-list
{
    margin-top: 10px;
}

.images-list ul
{
    height: 30px;
    list-style-type: none;
}

.images-list ul li
{
    margin-right: 5px;

    float: left;
    cursor:pointer;
    list-style-type: none
    list-style-type: none;;
}

.images-list_transparent
{
    opacity: 0.4;
}

.game-shadow
{
    position: absolute;
    box-shadow: 0 0 30px #000;
}
