<!DOCTYPE HTML>
<html>
    <head>
        <title>ZooGames</title>
        <meta charset="utf-8"/>
        
        <meta http-equiv="Cache-Control" content="public" />
        <meta http-equiv="Cache-Control" content="max-age=3600000, must-revalidate" />

        <link type='text/css' rel='stylesheet' href='css/styles.css' />
        <script src='common/js/browserDetect.js'></script>
        <script src='common/js/zepto.min.js'></script>
        <script src='common/js/common.js'></script>
        <script src='js/tmpl.js'></script>
        <script src='js/init.js'></script>
    </head>
    <body>
        <div class='head'>
            <div class='head__string'>
                <a class='head__logo' href='/'><span>ZooGames</span></a>
                <div class='login'>
                    <% if(data.user && data.user.name){ %>
                        <div class='login__user-name'>You are logged as <span><%=data.user.name%></span></div>
                    <%} else {%>
                        <div class='login__button'>Login</div>
                    <%}%>
                    <div class='login__popup'>
                        <input type='text' class='login__input' id='login' placeholder='Login'/> 
                        <input type='password' class='login__input' id='password' placeholder='Password'/>
                        <a href='register' class='login__link'>Registration</a>
                        <input type='button' class='login__send' id='signin' value='Sign in'/>
                        <div class='login-error' id='loginError'></div> 
                    </div>
                </div>
            </div> 
        </div>

        <div class='content'>
            <div class='content__layout'>
                <div class='content__list'> </div>
                <div class='content__game'>
                    <div class='content__game-block'></div>
                    <div class='spinner spinner_hide' id='spinner'><img src='images/spinner/spinner.gif' /></div>
                </div>
            </div> 
        </div>
    </body>
</html>
