* 
{
    margin: 0;
    padding: 0;
    border: none;
}

body
{
    font-family: Helvetica, Arial;
    background-image: url(../images/main_bg.jpg);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

.head
{
    position: relative;
    z-index: 10;

    height: 30px;

    border-bottom: 1px solid rgb(116, 112, 112);
    box-shadow: 0 0 5px #000;

    background: #7a7a7a;
    background: -moz-linear-gradient(top,  #7a7a7a 0%, #4f4f4f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7a7a7a), color-stop(100%,#4f4f4f));
    background: -webkit-linear-gradient(top,  #7a7a7a 0%,#4f4f4f 100%);
    background: -o-linear-gradient(top,  #7a7a7a 0%,#4f4f4f 100%);
    background: -ms-linear-gradient(top,  #7a7a7a 0%,#4f4f4f 100%);
    background: linear-gradient(to bottom,  #7a7a7a 0%,#4f4f4f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a7a7a', endColorstr='#4f4f4f',GradientType=0 );
}

.head__logo
{
    display: inline-block;
    width: 20%;

    line-height: 30px;
    color: #FFF;
    text-decoration: none;
    font-size: 14px;
}

.head__logo span
{
    padding-left: 20px;
}

.content__layout
{
    padding: 10px 20px;
}

.game-item
{
    position: relative;
    overflow: hidden;
    
    width: 302px;
    margin: 10px;

    float:left;
    border-radius: 10px;
    box-shadow:0 0 10px #000;
    text-decoration: none;
}

.game-item img
{
    border-radius: 10px;
    border: 1px solid #999;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}

.game-item__info
{
    width: 300px;
    height: 40px;

    margin: -10px auto 0 auto;

    background-color: rgba(44, 43, 43, 0.5);
    border: 1px solid #999;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    color: #FFF;
    text-align: center;
    line-height: 45px;
    font-family: Verdana, Arial;
    font-size: 14px;
}

.game-item:hover
{
    opacity: 0.7;
}

.game-item__status
{
    position: absolute;
    top: -19px;
    right: -74px;
    
    height: 20px;
    
    padding: 0 44px;
    
    color: yellow;
    background-color: rgba(255,0, 0, 0.4);
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 0 0;
    font-size: 10px;
    line-height: 20px;

    text-transform: uppercase;
}

.content__list
{
    position: fixed;
    right: 0;

    width: 100%;
}

.content__list_move
{
    right: -110%;

    -webkit-transition: right 0.5s linear;
    transition: right 0.5s linear;
}

.spinner
{
    position: fixed;
    top: 50%;
    left: 50%;
    
    margin-left: -64px;
}

.spinner_hide
{
    display: none;
}

.login
{
    position: relative;

    display: inline-block;

    width: 79%;

    text-align: right;
}

.login[visibility="1"] .login__popup
{
    display: block;
}

.login__button
{
    margin-right: 10px;

    color: #FFF;
    font-size: 13px;
    cursor: pointer;
}

.login__popup
{
    display: none;

    position: absolute;
    right: 5px;
    top: 35px;
    z-index: 99;
    
    width: 180px;
    min-height: 85px;

    padding: 10px;
    
    background-color: rgba(0,0,0,0.5);
    border: 1px solid #000;
    box-shadow: 0 0 10px #000;
}

.login__input
{
    display: block;

    height: 22px;
    width: 172px;

    padding: 0 5px;

    margin-bottom: 10px;
}

.login__send
{
    padding: 5px;
    background-color: grey;
    cursor: pointer;
}

.login__link
{
    float: left;
    
    color: #FFF;
    font-size: 12px;
}

.registration
{
    width: 250px;

    margin: 30px auto;
    padding: 10px;

    background: rgba(0,0,0,0.5);
    box-shadow: 0 0 10px #000;
    border: 1px solid #333;
}

.registration h2
{
    font-size: 20px;
    color: #FFF;
    font-weight: normal;
}

.registration__field
{
    display: block;
    width: 240px;
    height: 25px;

    padding: 0 5px;
    margin: 12px 0;
}

.registration__button
{
    padding: 6px 10px;
    float: right;

    cursor: pointer;
}

.zoogames-captcha
{
    position: relative;
    background-color: #999;
    cursor: pointer;
}
.zoogames-captcha-animation
{
    position: absolute;
}
.captcha-text
{
    margin-bottom: 10px;

    color: #FFF;
    font-size: 12px;
}

.reg-message-error,
.reg-message-success
{
    margin: 5px 0;
    
    font-size: 11px;
}

.reg-message-error
{
    color: red;
}

.reg-message-success
{
    color: green
}

.login-error
{
    color: red;
    text-align: left;
    font-size: 12px;
}

.login__user-name
{
    font-size: 12px;
    color: #FFF;
    margin-right: 10px;
    cursor: pointer;
}

.login__user-name span
{
    text-decoration: underline;
}
