*{
  margin:0px;
  padding:0px;
}
body{
  overflow: hidden;
}
.no-margin{
  margin:0px!important;
}
.hide{
  opacity:0!important;
  display:none!important;
}
.show{
  opacity:1!important;
  display:block!important;
}
#controll{
  background-color:#EFEFEF;
  border-right:1px solid #888;
  box-shadow:0 0 10px #555;
  height:100%;
  float:left;
  width:20%;
  min-width:234px;
  position: relative;
  z-index: 10;
}
#canvas-wrapper{
  background:#FFF;
  float:left;
  width:78%;
  height:100%;
  position:relative;
}
#canvas-wrapper canvas{
  position:absolute;
  box-shadow:0 0 15px #888;
  top:50%;
  left:50%;
  margin:-75px 0 0 -175px;
}

#controll input{
  margin: 10px 5px;
}
#controll label{
  font-family: Tahoma;
  font-size:12px;
}
#addTextBlock{
  margin:10px 25px 10px 5px;
  border:1px dashed #888;
  background:#FFF;
  height:50px;
  text-align: center;
  cursor:move;
  width: 222px;
}
#addTextBlock span{
  margin-top:8px;
  display: block;
}
#addTextBlock span em{
  font-size:10px;
  color:#777;
  font-style: normal;
}
#getClass{

}

.draggable{
  position:absolute;
  z-index:9999;
  top:116px;
  left:0px;
  cursor:move;
}
.canvas-text{
  border:1px solid #CCC;
  position: absolute;
  z-index:9;
}
.canvas-text textarea{
  width:230px;
  background:transparent;
  border:1px solid #CCC;
  margin:5px;
  height:80px;
  padding:3px;
  resize:none;
  outline: none;
  font-family: Arial;
  font-size:16px;
  white-space: nowrap;
  overflow: hidden;
}
.apply-text,.change-text,.delete-text{
  width: 45px;
  cursor:pointer;
  height: 20px;
  line-height:18px;
  position: absolute;
  border: 1px dashed #CCC;
  top: -22px;
  background-color:#ccffcc;
  border-bottom: none;
  font-size:11px;
  text-align: center;
}
.resize-text{
  width:5px;
  height:15px;
  background:url("../img/textarea-resize.png");
  position:absolute;
  cursor:w-resize;
  z-index: 9999;
}
.font-chekbox{
  float:left;
}
.apply-text{
  width:60px;
}
.change-text{
  background-color:#ffffcc;
  left:63px;
}
.delete-text{
  background-color:#ffcccc;
  left:111px;
}
.resizible{
  width:7px;
  height:7px;
  position: absolute;
  background-image: url("../img/resize.png");
  right:6px;
  bottom:6px;
}
.style-label{
  float: left!important;
  width: 2px!important;
  line-height: 15px!important;
}
.b-font-styles{
  margin: 53px 0 10px 6px!important;
}

/* MODIFY WINDOW */
.b-modify-window{
  width:150px;
  height:307px;

  position:absolute;
  z-index:8;
  margin:0 0 0 0;

  background-color:#e4f2f3;
  border:1px solid #CCC;
  border-top:none;
  box-shadow:0px 5px 15px #777;
}
.font-select{
  width: 60px;
  height: 24px;
  border: none;
  margin: 5px 5px 5px 0px;
  float: right;
}
.b-modify-window label{
  font-family: Tahoma;
  font-size: 12px;
  margin: 0 10px 0 7px;
  display: block;
  float: left;
  width: 90px;
  line-height: 35px;
}
.font-wrapper{
  clear:both;
  margin:0 0 10px 0;
}
.font-wrapper input{
  border:1px solid #eeeeee;
}
.b-font-styles input{
  margin-right:8px;
}
.b-get-script{
  height:40px;

  position:absolute;
  top:10px;
  left:10px;
  z-index:999;

  padding:0px 10px;

  font-family: Arial;
  font-weight: bold;
  font-size:14px;
  text-transform:uppercase;
  color:#FFF;
  text-align:center;
  line-height:40px;
  cursor: pointer;

  background-color:#05b3d0;
  border:1px dashed #000;
}
.b-get-script:hover{
  background-color:#04889e;
}

.b-getClass{
  height: 40px;
  position: absolute;
  z-index: 999;
  top: 7px;
  left: 179px;
  font-family: Arial;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: black;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}
.b-getClass input{
  height:26px;
  padding: 0 10px;
  display:block;
  border:1px solid #CCC;
}
#temp_text_block{
  height:20px;
  position:absolute;
}
.b-top-marg{
  margin-top:80px;
}
.b-modify-text{
  display:block;
  position:relative;
  font-size:14px;
  top:20px;
  font-family:Tahoma;
}
.b-text-move-a,.b-text-move-b,.b-text-move-a-prev,.b-text-move-b-prev{
  width:14px;
  height:14px;
  background-color: #CCC;
  font-size:14px;
  text-align: center;
  line-height: 12px;
  cursor:pointer;
  position:absolute;
  top: 161px;
  left:90px;
  border:1px dashed #999;
  z-index:99999;
}
.b-text-move-b,.b-text-move-b-prev{
  left:112px;
}
.b-text-move-a-prev,.b-text-move-b-prev{
  opacity:0.3;
}
.b-text-move-descript{
  font-size:11px;
  margin:23px 0 0 6px;
}
#preloader{
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
}
.preloader_div{
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  background-color: #222;
  opacity:0.95;
}
#preloader img{
  width:32px;
  height:32px;
  position:absolute;
  top:50%;
  left:50%;
  margin:-16px 0 0 -16px;
}
.b-animation-options{
  position:absolute;
  background: #CCC;
  border:1px dashed #999;
  left:133px;
  top:159px;
  cursor:pointer;
  text-align: center;
  font-size:11px;
  padding:2px 3px;
}
.b-animation-preview{
  position:absolute;
  background: #CCC;
  border:1px dashed #999;
  left:133px;
  top:159px;
  cursor:pointer;
  text-align: center;
  font-size:11px;
  padding:2px 3px;
}
#b-stop-animation{
  display:none;
  position:absolute;
  top:62px;
  left:10px;
  background-color: #CCC;
  border:1px dashed #999;
  padding:10px;
  text-align: center;
  cursor:pointer;
}
.animation-toggle{
  position: absolute;
  margin:79px 0 0 91px;
}



.animation-blocker{
  position: absolute;
  z-index: 9999;
  width: 180px;
  height: 80px;
  margin-top: 99px;
}
.a-blocker,.b-blocker{
  width:16px;
  height:16px;
  position:absolute;
  z-index:9999;
}
.animation-speed-wrapper{
  width: 175px;
height: 23px;
margin-top: 10px;
}
.animation-speed{
  float: right;
  display: block;
  margin-top: 7px;
  width: 59px;
}
.animation-start-wrapper{
  position:absolute;
  margin:72px 0 0 0;
  width: 175px;
}
.animation-start-wrapper label{
  width: 98px;
  line-height:12px;
  font-size: 10px;
}
.animation-start-wrapper input{
  width: 60px;
  margin:5px 0 0 0;
  padding: 0 5px;
  border: 1px solid #CCC;
}
.animation-start-time{
  float: right;
  display: block;
  margin-top: 7px;
  width: 59px;
}

#test{
  display:block!important;
  opacity:1!important;
  border:none;
}
#test .apply-text,
#test .change-text,
#test .delete-text{
  display:none;
}
#test textarea{
  border:none;
}
.b-measuse{
  margin:10px 0 0 20px;
}
#measure{
  position:absolute;
  margin:2px 0 0 20px!important;
}
#b-measure-block{
  width:100%;
  height:100%;
  position:absolute;
  display:none;
  top:0px;
  left:0px;
  background-image: url("../img/measure-back.png");
}

.aOpacity
{
  opacity: 0.4
}
/*.animation-block .style-label,
.animation-block .b-text-move-descript,
.animation-block .b-text-move-a-prev,
.animation-block .b-text-move-b-prev,
.animation-block .b-text-move-a,
.animation-block .b-text-move-b,
.animation-block .b-animation-preview,
.animation-block .animation-speed,
.animation-block .animation-type-wrapper,
.animation-block .animation-start-wrapper,
.animation-block .animation-speed-wrapper,
.animation-block .b-animation-preview
{
  opacity:0.4;
}*/

.animation-block .style-label
{
  width: 100%!important;
}
.animation-toggle
{
  position: absolute;
  top: 158px;
  left: 76px;
  margin: 0!important;
}
/*.b-text-move-a-prev, .b-text-move-b-prev, .b-text-move-a , .b-text-move-b
{
  position: relative;
  float: left;
  top: 0!important;
  left: 0!important;
}*/
