.control
{
    position: relative;

    width: 100%;
    height: 100%;
}

.control__panel
{
    position: relative;
    z-index: 2;

    width: 180px;
    height: 100%;

    float:left;

    background-color: #4f4f4f; 
}

.control__block
{
    display: inline-block;
    
    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;
    margin-left: 90px;
}

.control__item
{
    padding: 20px 10px;

    text-align: left;
    font-family: Verdana;
    color: #FFF;
    border-bottom: 1px dashed #666;
}

.control__item label
{
    font-size: 10px;
    margin-right: 5px;
}

.control__item h4
{
    margin-bottom: 5px;

    font-size: 12px;
    font-weight: normal;
}

.control__item input[type=number]
{
    padding: 2px 4px;

    height: 16px;

    border: 1px solid #CCC;
}

.control__item input[type=radio]
{
    margin-right: 10px;
}

.control__item_small input
{
    width: 70px;

}

.all_inline div,
.all_inline h4
{
    display: inline-block;
}
