*{
  margin: 0px;
  padding: 0px;
}
body{
  background-image: url(../images/Intro/BG.jpg);
}
.clr{
	clear:both;
	float:none;
	height:0px!important;
}


#Intro{
  width:100%;
  min-width:800px;
  height:100%;
  background-image: url(../images/Intro/dragon_400.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

#Logo{
  position: absolute;
  top: 50px;
  left: 50px;
  width: 490px;
  height: 132px;
  background-image: url(../images/Intro/logo.png);
}

#Sidebar{
	width:385px;
	height:100%;
	float:right;
	border-left:2px solid #b86d20;
	background-color:#151203;
	padding:0 0 0 15px;
}
#Sidebar div{
	height:24px;
	line-height:24px;
	margin:12px 0;
	color:#b86d20;
	font-size:24px;
	font-family:Tahoma;
}
div#MapName{
	color:#d9c1a9;
	font-style:italic;
	font-size:20px;
	margin-left: 30px;
	height:auto;
}
div#Levels {
	width:345px;
	height:62px;
	margin:20px auto 0 auto!important;
}
#Levels span{
	display:inline-block;
	width:52px;
	height:52px;
	line-height:52px;
	text-align:center;
	color:#FFF;
	background-color:#b86d20;
	cursor:pointer;
}
#Levels span:hover{
	opacity:0.6;
}
div#MapDescription{
	width:370px;
	color:#d9c1a9;
	font-size:14px;
	height: auto;
	line-height:18px;
}
#UnionPlayersList, 
#OponentPlayersList{
	float:left;
	margin-top: 0px!important;
}
#UnionPlayers, 
#OponentPlayers{
	float:left;
	padding-right: 10px;
}
#UnionPlayersList div,
#OponentPlayersList div{
	width: 15px!important;
	height: 15px!important;
	margin:4px;
	float:left;
}
#UnionPlayers,
#UnionPlayersList{
	margin-bottom:0px!important;
	font-size: 17px!important;
	margin-top: 0px!important;
}
#OponentPlayers{
	margin-bottom:20px!important;
	font-size: 17px!important;
	margin-top: 0px!important;
}
div.red{
	background-color:red;
}
div.green{
	background-color:green;
}
div.blue{
	background-color:blue;
}

.set-arrow{
	position:relative;
	padding-left:15px;
	background-image: url(../images/Intro/arrow.png);
	background-repeat:no-repeat;
	background-position:0 2px;
	cursor:pointer;
	margin: 5px 0!important;
}
.bottom-menu{
	position:absolute;
	bottom:15px;
	width:385px;	
}
.bottom-menu div{
	cursor:pointer;
}
#BeginGame{
	float:left;
}
#GoPrevious{
	float:right;
	padding-right:15px;
}
#GoPrevious a,
#BeginGame a{
	height:24px;
	line-height:24px;
	margin:12px 0;
	color:#b86d20;
	font-size:24px;
	font-family:Tahoma;
	text-decoration:none;
}
.level-active{
	outline: 2px solid #CCC;
	box-shadow:0 0 10px #000;
}
.set-arrow span{
	color: red;
	position: absolute;
	top: -13px;
	left: 200px;
	text-transform: uppercase;
	font-size: 10px;
	font-family: Verdana;
}
#MapsList{
	display:none;
	position: absolute;
	width: 400px;
	height: 97.5%;
	margin: 0 0 10px 0;
	right: 405px;
	background-image: url(../images/Intro/save_bg.png);
	outline: 1px solid #322908;
	top: 10px;
}
#MapsList table{
	width:100%;
}
#MapsList table td{
	text-align:center;
	color:#f49745;
	font-size:18px;
	font-family:Tahoma;
	line-height: 35px;
	border-right: 1px solid #322908;
	border-bottom: 1px solid #322908;
}
#MapsList table td:last-child{
	border-right:none;
}
.map-item{
	cursor:pointer;
}
.map-item:hover td{
	background-color:#201a03;
}
#mapslist .map-item td{
	font-size:14px;
}
.w_250{
	width:250px;
}
.map-active{
	background-color:#201a03;
	outline:1px solid #999;
}
#SetMap{
	margin-top:30px!important;
}


















