*{
  margin: 0px;
  padding: 0px;
}
body{
  background-image: url(../images/Intro/BG.jpg);
}


#Intro{
  width:100%;
  min-width:800px;
  height:100%;
  background-image: url(../images/Intro/dragon.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
#Menu{
  width:218px;
  height: 100%;
  float:right;
  background-image: url(../images/Intro/menu-bg.png);
}
#Menu ul{
  list-style-type: none;
}
#Menu li{
  height:25px;
  padding:40px 0;
  border-top: 1px solid #252214;
}
#Menu li:hover{
  opacity:0.5;
}
#Menu li a{
  position:relative;
  display: inline-block;
  width: 218px;
  height: 28px;
  background-repeat: no-repeat;
}
#Menu li a span{
	color: red;
	position: absolute;
	top: -15px;
	left: 20px;
	text-transform: uppercase;
	font-size: 10px;
	font-family: Verdana;
}
#NewGame{
  background-position: 19px 0;
}



#LoadGame{
  background-position: 19px -26px;
}
#Statistic{
  background-position: 19px -48px;
}
.exit{
  position:absolute;
  bottom:15px;
  background-position: 19px -75px;
}



#MenuStepTwo{
 display:none;
}
#SingleGame{
 background-position: 19px -26px;
}
#OnlineGame{
 background-position: 19px 0px;
}
#StoryGame{
 background-position: 19px -51px;
}



#Logo{
  position: absolute;
  top: 50px;
  left: 50px;
  width: 490px;
  height: 132px;
  background-image: url(../images/Intro/logo.png);
}	
#ListOfGames{
	display:none;
	position: absolute;
	width: 625px;
	height: 97.5%;
	margin: 0 0 10px 0;
	right: 230px;
	background-image: url(../images/Intro/save_bg.png);
	outline: 1px solid #322908;
	top: 10px;
}
.list-arrow{
	width:22px;
	height:59px;
	background-image:url(../images/Intro/save_arrow.png);
	position:absolute;
	top:119px;
	right:-22px;
}
.load-list{
	width:100%;
}
.row_{
	text-align:center;
	color:#f49745;
	font-size:18px;
	font-family:Tahoma;
	line-height: 35px;
	border-right: 1px solid #322908;
	border-bottom: 1px solid #322908;
}
.row_10{
	width:10%;
}
.row_25{
	width:25%;
}
.row_35{
	width:35%;
}
.load-list .row_:last-child{
	border-right:none;
}
.save-data{
	cursor:pointer;
}
.save-data:hover td{
	background-color:#201a03;
}
.save-data td{
	font-size:14px;
	color:#f78728;
}










