*{
  margin:0px;
  padding:0px;
}
body{
  min-height:500px;
  background-color: #777;
}
#Login{
  position:absolute;
  top:50%;
  left:50%;
  margin:-100px 0 0 -200px;
  width:400px;
  height:200px;
  background-image:url(../images/login.png);
  background-color:#bfafaf;
}
#Login-header{
    font-size: 18px;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 10px #FFFFFF;
    top: -34px;
    width: 400px;
}
.login-form{
  margin:50px 0 0 85px;
}
input{
  display:block;
  background:#FFF;
  border:1px solid #6e6350;
  height:30px;
  width:225px;
  margin:10px 0;
  padding:0 10px;
}
#submit_i{
  border:1px solid #5f5543;
  background:#5f5543;
  width:100px;
  margin-left:60px;
  color:#FFF;
  font-size:14px;
  cursor:pointer;
}
#submit_i:hover{
  background:#443c2d;
}
#login_error{
  color: red;
  font-size: 12px;
  position: absolute;
  top: 27px;
}
#registration_link{
	position: absolute;
	right: 25px;
	bottom: 22px;
}
#registration_link a{
	text-decoration: none;
	color: #444;
	font-family: Arial;
	text-transform: uppercase;
	font-size: 12px;
}



