*{
  margin:0px;
  padding:0px;
}
body{
  min-height:500px;
  background-color: #777;
}
#Register{
  position:absolute;
  top:50%;
  left:50%;
  margin:-125px 0 0 -200px;
  width:400px;
  height:250px;
  background-image:url(../images/register.png);
  background-color: #bfafaf;
}
#Register-header{
    font-size: 18px;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 10px #FFFFFF;
    top: -34px;
    width: 400px;
}
.register-form{
  margin:50px 0 0 85px;
}
input{
  display:block;
  background:#FFF;
  border:1px solid #6e6350;
  height:30px;
  width:225px;
  margin:10px 0;
  padding:0 10px;
}
#submit_i{
  border:1px solid #5f5543;
  background:#5f5543;
  width:100px;
  margin-left:60px;
  margin-top:20px;
  color:#FFF;
  font-size:14px;
  cursor:pointer;
}
#submit_i:hover{
  background:#443c2d;
}
#register_error{
  color: red;
  font-size: 12px;
  position: absolute;
  top: 27px;
}

#ConfirmWrapper{
	display:none;
}
#ConfirmWin{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	background-color:#000;
	opacity:0.9;
}
#ConfirmPopup{
	position:absolute;
	width:200px;
	height:100px;
	
	top:50%;
	left:50%;
	margin:-50px 0 0 -100px;
	
	background-color:#CCC;
	color:#000;
	text-align:center;
	line-height:100px;
}



















