*{
  margin:0px;
  padding:0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body{
  background-color: #CCC;
  overflow: hidden;
}

/* Commom classes */
.clr{
  clear:both;
  float:none;
	height: 1px;
}
.w100{
	width: 100%;
}
.h100{
	height: 100%;
}
.wh32{
	width: 32px;
	height: 32px;
}


.paranja
{
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;

    background: #444;
}

.paranja img
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -64px; 
}


/* Settings block */
#SettingsPanel{
    position:fixed;
    top:-30px;
    z-index:999999;
    width:100%;
    height:30px;
    background-color:#666;
    border:1px solid #000;
    box-shadow:0 0 10px #000;
}
#ArrowSlider{
     width:30px;
     height:20px;
     background-color:#555;
     position:absolute;
     bottom:-22px;
     left:50%;
     margin-left:-15px;
     border:2px solid #000;
     border-top:none;
     background-image:url(../images/arrow_down.png);
     background-repeat:no-repeat;
     background-position:4px -1px;
     cursor:pointer;
}
#SettingsData ul{
    list-style-type:none;
}
#SettingsData ul li{
  font-family:Arial;
  font-size:14px;
  line-height:30px;
  float:left;
  padding:0 10px;
  height:30px;
}
#SettingsData ul li a{
  color:#FFF;
  text-decoration:none;
  text-transform:uppercase;
}






#Map{
    height: 100%;
    width: 100%;
    background-image: url(../images/Maps/MAP0.jpg);
}

/* Main blocks */
#Game,
#Wrapper,
#player-radius,
.map-item, 
.map-object, 
.map-building,
.map-player, 
.map-object-place, 
.step-move,
.terra_block,
.controll-sides-movement{
  position:absolute;
}
#Map,#Steps,#Terra{
  position:absolute;
  top:0px;
  left:0px
}
#Game{
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index:11;
	left: 17px;
	top: 19px;
}
.step-move{
  width:32px;
  height:32px;
}
.map-player{
  z-index:5;
  cursor:url('../images/Cursors/hero.cur');
  cursor:url(../images/Cursors/hero.cur), -moz-zoom-in;
}
.map-object-place{
  z-index:9;
  width:32px;
  height:32px;
}
.terra_block{
  z-index: 11;
  width:32px;
  height:32px;
  background-image: url(../images/Sprites/terraIncognita.png);
}
#logo{
	height: 45px;
}
#logo img{
	display: block;
	height: 53px;
	margin:10px auto 0 auto;
}





/* Borders */
#BorderTop,
#BorderBottom,
#BorderLeft,
#BorderRight,
#CornerTopLeft,
#CornerBottomRight,
#CornerBottomLeft,
#CornerTopRight,
#BorderRightBlack{
	position:absolute;
  cursor:url('../images/Cursors/common.cur');
  cursor:url(../images/Cursors/common.cur), -moz-zoom-in;
}
#Controlls{
	position:absolute;
	width: 100%;
	z-index:10;
  left:15px;
  height: 100%;
}
#BorderTop{
	height: 20px;
	background-image: url(../images/border-top.png);
	background-position:0 17px;
}
#BorderBottom{
	height: 15px;
	bottom: 19px;
	background-image: url(../images/border-bottom.png);
}
#BorderLeft{
	width: 18px;
	height: 100%;
	top: 0px;
	left: -15px;
	background-image: url(../images/border-left.png);
	background-position: 15px 0;
}
#BorderRight{
  width: 32px;
  height: 100%;
  background-image: url(../images/border-right.png);
  top: 0px;
  right: 32px;
}
#BorderRightBlack{
	width: 13px;
	height: 100%;
	background-image: url(../images/right-black-border.png);
	top: 0px;
	right: 193px;
	z-index: 11!important;
}
#CornerTopLeft{
	background-image: url(../images/cornerTL.png);
	top: 0;
	left: -32px;
}
#CornerBottomRight{
	background-image: url(../images/cornerBR.png);
	bottom: 0px;
	right: -32px;
}
#CornerBottomLeft{
	background-image: url(../images/cornerBL.png);
	bottom: 0px;
	left: -32px;
}
#CornerTopRight{
	background-image: url(../images/cornerTR.png);
	top: 0;
	right: -32px;
}



/* Color corners */
#ColoredCornersWrapper{

}
#ColoredCorners,
#ColorCornerTopRight,
#ColorCornerTopLeft,
#ColorCornerBottomLeft,
#ColorCornerBottomRight,
#BorderRightBlack,
#CornerTopRightSimple,
#CornerBottomRightSimple{
	position:absolute;
  z-index:12;
  cursor:url('../images/Cursors/common.cur');
  cursor:url(../images/Cursors/common.cur), -moz-zoom-in;
}
#ColorCornerTopRight,
#ColorCornerTopLeft,
#ColorCornerBottomLeft,
#ColorCornerBottomRight{
	width:67px;
	height:66px;
}
#ColorCornerTopRight{
	background-image: url(../images/color-corner-top-right.png);
	top: -15px;
	right: 174px;
}
#ColorCornerTopLeft{
	background-image: url(../images/color-corner-top-left.png);
	top: -16px;
	left: -17px;
}
#ColorCornerBottomLeft{
	background-image: url(../images/color-corner-bottom-left.png);
	bottom: 1px;
	left: -17px;
}
#ColorCornerBottomRight{
	background-image: url(../images/color-corner-bottom-right.png);
	bottom: -17px;
	right: 174px;
}
#CornerTopRightSimple, #CornerBottomRightSimple{
	background-image: url(../images/simple-top-right-corner.png);
	top: 1px;
	right: 0px;
	width: 39px;
	height: 18px;
}
#CornerBottomRightSimple{
	bottom:0px;
	top:auto;
	height: 19px;
	background-image: url(../images/simple-bottom-right-corner.png);
}
#Sidebar{
	width: 195px;
	height: 100%;
	position: absolute;
	right: 0px;
	z-index: 99;
	overflow: hidden;
	text-shadow: 1px 1px 1px #000;
}
#SidebarBG{
	position:absolute;
	width:193px;
	height:100%;
	border-right: 2px solid black;
	background-image: url(../images/Common/BG.png);
}
#miniMap{
  	width:193px;
  	height:192px;
	position:relative;
	background-image: url(../images/Common/mini_map.png);
	border-right: 2px solid black;
}
#miniMap_,
#miniMap_BG, 
#miniMap_PL, 
#miniMap_TERRA,
#miniMap_FRAME{
	position: absolute;
	width: 144px;
	height: 144px;
	left: 25px;
	top: 24px;
}

#SidebarOptions{
	position:relative;
  	width:193px;
	height: 194px;
	background-image: url(../images/Common/player_info_back.png);
	border-right: 2px solid black;
	overflow: hidden;
}
#SidebarOptionsTop{
  width:193px;
  height:1px;
	background-color:#c69447;
}
#SidebarPlayersList{
	width: 69px;
	height: 191px;
	background-image: url(../images/Common/player_tab.png);
	background-repeat: repeat-y;
	background-position-x: 2px;
	background-position-y: 15px;
}
#SidebarConfList{
	position: relative;
	width:71px;
	height: 190px;
	background-image: url(../images/Common/conf_back.png);
}
#SidebarConfList img{
	margin-left:3px;
}
#SidebarCastlesList{
	width:51px;
	min-height:191px;
	background-image: url(../images/Common/castle_icon_placeholder.png);
	background-position: 1px 16px;
}
#SidebarPlayersList,
#SidebarConfList,
#SidebarCastlesList{
	float:left;
}
#SidebarPlayerListUp,#SidebarPlayerListDown{
	width:68px;
	height:15px;
	margin-left:2px;
	background-image: url(../images/Common/arrow_up.png);
	cursor:pointer;
}
#SidebarPlayerListDown{
	position:absolute;
	bottom:1px;
	margin-top:1px;
	background-image: url(../images/Common/arrow_down.png);;
}
.sidebar-player-tab{
	width:68px;
	height:32px;
	margin-left:2px;
	cursor:pointer;
}
.sidebar-player-tab div{
	float:left;
	height:29px;
}
.sidebar-player-tab-steps{
	position:relative;
	top:2px;
	left:3px;
	width:6px;
	background-image: url(../images/Common/move_mana_indicator.png);
}
.sidebar-player-tab-icon{
	position: relative;
	top: 2px;
	left: 5px;
	width: 46px;
	background-image: url(../images/Common/player_icon_placeholder.png);
  background-position:-5px -15px;
	background-repeat: no-repeat;
}
.sidebar-player-tab-mana{
	position:relative;
	top:2px;
	right: -7px;
	width:6px;
	background-image: url(../images/Common/move_mana_indicator.png);
}
#SidebarCastesListUp,#SidebarCastesListDown{
	width: 51px;
	height: 15px;
	margin-left: 1px;
	padding-bottom: 1px;
	background-image: url(../images/Common/arrow_up_min.png);
	cursor: pointer;
}
#SidebarCastesListDown{
	position: absolute;
	bottom: 0px;
	background-image: url(../images/Common/arrow_down_min.png);
}
.sidebar-castle-tab{
	width: 47px;
	height: 32px;
	margin-left: 1px;
	background-image: url(../images/Common/castle_icon_placeholder.png);
	background-position: 0 -1px;
}
.sidebar-castle-tab img{
	margin: 0 0 0 2px;
	cursor: pointer;
}
.heroes-steps-indicator,.heroes-mana-indicator{
	width: 6px;
	position: absolute;
	background-image:url(../images/Common/steps-bg.png);
	bottom: 0px;
	font-size: 9px;
	font-weight: bold;
	font-family: Tahoma;
	word-wrap: break-word;
	line-height: 9px;
}
.heroes-mana-indicator{
	background-image:url(../images/Common/mana-bg.png);
}
.heroes-steps-indicator div,
.heroes-mana-indicator div{
	position: absolute;
	left: -1px;
	bottom: 0px;
	height: auto;
}
.hero_active .sidebar-player-tab-icon{
	outline: 1px solid #ffe075;
}







#PlayerArmyInfo{
  width:193px;
  height:186px;
  position: fixed;
  bottom: 22px;
  z-index: 1;
  font-family: Verdana;
}
#PlayerArmyInfo table.hero-hint-table{
	margin:10px!important;
}
.player-army-border-top{
	top: -6px;
	width: 100%;
	height: 15px;
	background-image: url(../images/Popup/top_border.png);
	position: absolute;
}
.player-army-border-bottom{
	bottom: -1px;
	width: 100%;
	height: 15px;
	background-image: url(../images/Popup/bottom_border.png);
	position: absolute;
	background-position: 0 1px;
}
.player-army-border-left{
	bottom: -1px;
	left: -1px;
	width: 15px;
	height: 100%;
	background-image: url(../images/Popup/left_border.png);
	position: absolute;
}
.player-army-border-right{
	right: -2px;
	width: 15px;
	height: 100%;
	background-image: url(../images/Popup/right_border.png);
	position: absolute;
	top: 0px;
}
.player-army-corner-top-left{
	background-image: url(../images/Popup/top_left_corner.png);
	top: -6px;
	left: -1px;
	position: absolute;
	width: 42px;
	height: 41px;
}
.player-army-corner-top-right{
	background-image: url(../images/Popup/top_right_corner.png);
	top: -6px;
	right: -1px;
	position: absolute;
	width: 42px;
	height: 41px;
}
.player-army-corner-bottom-right{
	background-image: url(../images/Popup/bottom_right_corner.png);
	bottom: -1px;
	right: -1px;
	position: absolute;
	width: 42px;
	height: 41px;
	background-position: 0 1px;
	background-repeat: no-repeat;
}
.player-army-corner-bottom-left{
	background-image: url(../images/Popup/bottom_left_corner.png);
	left: -1px;
	bottom: -1px;
	position: absolute;
	width: 42px;
	height: 41px;
	background-position: 0 1px;
	background-repeat: no-repeat;
}
#PlayerArmyInfo .hero_hint_text{
	margin-left:2px;
}
.hero-hint-stats-img{
	display: block;
	position:relative;
	left:4px;
}
#PlayerArmyInfo .hero-hint-stats-img{
	left:1px;
}
.hero-hint-stats-table td,
.hero-hint-stats-table img{
	width:24px;
}
.hero-hint-moral, .hero-hint-lider{
	display:block;
	margin-left:2px;
}





/* Cursors */
#Map,#Steps{
  cursor:url('../images/Cursors/go.cur') 10 10;
  cursor:url(../images/Cursors/go.cur) 10 10, -moz-zoom-in;
}
.map-object-place{
  cursor:url('../images/Cursors/goto.cur') 10 10;
  cursor:url(../images/Cursors/goto.cur) 10 10, -moz-zoom-in;
}
div[data-obj-place='goto2']{
  cursor:url('../images/Cursors/goto2.cur') 10 10;
  cursor:url(../images/Cursors/goto2.cur) 10 10, -moz-zoom-in;
}
div[data-obj-place='goto3']{
  cursor:url('../images/Cursors/goto3.cur') 10 10;
  cursor:url(../images/Cursors/goto3.cur) 10 10, -moz-zoom-in;
}
div[data-obj-place='goto4']{
  cursor:url('../images/Cursors/goto4.cur') 10 10;
  cursor:url(../images/Cursors/goto4.cur) 10 10, -moz-zoom-in;
}
.map-object, .terra_block{
  cursor:url('../images/Cursors/common.cur');
  cursor:url(../images/Cursors/common.cur), -moz-zoom-in;
}
.map-building{
  cursor:url('../images/Cursors/Building.cur');
  cursor:url(../images/Cursors/Building.cur), -moz-zoom-in;
}
#Map.go2,
#Steps.go2{
  cursor:url('../images/Cursors/go2.cur') 10 10;
  cursor:url(../images/Cursors/go2.cur) 10 10, -moz-zoom-in;
}
#Map.go3,
#Steps.go3{
  cursor:url('../images/Cursors/go3.cur') 10 10;
  cursor:url(../images/Cursors/go3.cur) 10 10, -moz-zoom-in;
}
#Map.go4,
#Steps.go4{
  cursor:url('../images/Cursors/go4.cur') 10 10;
  cursor:url(../images/Cursors/go4.cur) 10 10, -moz-zoom-in;
}
.no-cursor *{
 cursor:none!important;
}


/* PopUp */
.popup{
  position:absolute;
  z-index:999;
  top:50%;
  left:50%;
  display:none;
	font-family: Verdana;
}
.p_div{
	position:absolute;
}
.popup_top{
  top: 0px;
  width: 100%;
  height: 15px;
  background-image: url(../images/Popup/top_border.png);
}
.popup_bottom{
  bottom: 0px;
  width: 100%;
  height: 15px;
  background-image: url(../images/Popup/bottom_border.png);
}
.popup_left{
  left: 0px;
  top: 0px;
  width: 15px;
  height: 100%;
  background-image: url(../images/Popup/left_border.png);
}
.popup_right{
  right: 0px;
  top: 0px;
  width: 14px;
  height: 100%;
  background-image: url(../images/Popup/right_border.png);
}

.popup_tp_left_corner,
.popup_tp_right_corner,
.popup_bt_right_corner,
.popup_bt_left_corner{
	position:absolute;
	width:42px;
	height:41px;
}
.popup_tp_left_corner{
	background-image: url(../images/Popup/top_left_corner.png);
	top:0px;
	left:0px;
}
.popup_tp_right_corner{
	background-image: url(../images/Popup/top_right_corner.png);
	top:0px;
	right:0px;
}
.popup_bt_right_corner{
	background-image: url(../images/Popup/bottom_right_corner.png);
	bottom:0px;
	right:0px;
}
.popup_bt_left_corner{
	background-image: url(../images/Popup/bottom_left_corner.png);
	bottom:0px;
	left:0px;
}
.p_bg{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:-1;
	background-image: url(../images/uniq_background.png);
}
.p_shadow{
	position:absolute;
	width:100%;
	height:100%;
	top:10px;
	left:10px;
	z-index:-1;
	background-image: url(../images/Popup/shadow.png);
}


.popup_content{
  padding:25px;
	margin:0 auto;
}
.popup_content div{
	text-align:center;
}
.popup_btn{
  background-color: #444;
  text-align: center;
  line-height: 25px;
  margin: 0 auto;
  color: #FFF;
  border: 1px solid #CCC;
  box-shadow: 0 0 10px #000;
  cursor:pointer;
  text-transform: uppercase;
  font-size: 14px;
}


/* Content part */
.crystal_not_enough,
.crystal_visited,
.exp_stone,
.exp_stone_visited{
  color:#FFF;
	text-align:center;
  color: #FFF;
  text-shadow: 1px 1px 0px #000;
	margin:0 auto;
}
.popup-info-header{
	text-align:center;
	color:#d9bd70;
	font-size:12px;
	margin: 20px 10px 10px 10px;
	font-weight:bold;
	text-shadow:1px 1px 0px #000;
}
.popup-info-main-txt{
	text-align:center;
	color:#FFF;
	font-size:12px;
	line-height:18px;
	margin:10px 10px 0px 10px;
	text-shadow:1px 1px 0px #000;
}
.popup-info-icon{
	width:62px;
	height:70px;
	margin:20px auto;
	position:relative;
}
.popup-info-icon span{
	font-size: 10px;
	color: #FFF;
	text-shadow: 1px 1px 0px #000;
	position: relative;
	bottom: -72px;
	text-align: center;
	width: 100%;
	display: inline-block;
}
.popup-info-button-accept{
		width:51px;
		height:25px;
		margin:20px auto 20px auto;
		cursor:pointer;
		background-image:url(../images/Popup/button-accept.png);
}
.popup-info-button-accept:active{
	opacity:0.8;
}

.mine-img{
	width: 83px;
	height: 93px;
}
.mine-img span{
	bottom: -100px!important;
}

/* Icons types */
.knowlege-tree-icon{
	background-image:url(../images/PrimarySkills/Level.png);
}
.tree-big-icon{
	background-image:url(../images/Objects/RESOURCES/tree-big.png);
}
.stone-big-icon{
	background-image:url(../images/Objects/RESOURCES/stone-big.png);
}
.gold-big-icon{
	background-image:url(../images/Objects/RESOURCES/gold-big.png);
}
.hg-big-icon{
	background-image:url(../images/Objects/RESOURCES/hg-big.png);
}
.gems-big-icon{
	background-image:url(../images/Objects/RESOURCES/gems-big.png);
}
.sulfur-big-icon{
	background-image:url(../images/Objects/RESOURCES/sulfur-big.png);
}
.crystals-big-icon{
	background-image:url(../images/Objects/RESOURCES/crystal-big.png);
}
/* Content part end */










/* Popup common type */
#popup_common{
  width:280px;
  height:300px;
  margin:-150px 0 0 -140px;
}
#popup_common  .popup_content {
	padding:10px;
}


/* Info popup styles */
#popup_info{
  width:280px;
  margin:-65px 0 0 -140px;
	font-size: 11px;
}

/* Small popup styles */
#popup_small{
  width:200px;
  height:220px;
  margin:-110px 0 0 -100px;
}
#popup_small .popup-info-button-accept{
	margin-bottom:10px;
}

#popup_hint{
  min-width:195px;
	font-size: 11px;
	color:#FFF;
  cursor:url('../images/Cursors/common.cur');
  cursor:url(../images/Cursors/common.cur), -moz-zoom-in;
}

/* Popup for castles */
#popup_castle{
	width:100%;
	height:100%;
	top:0px;
	left:0px;
}
#popup_castle  .popup_content{
	width:100%;
	height:100%;
}
#dark_screen_layout{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	z-index: 999;
	opacity: 0.95;
	display: none;
}
#popup_battle  .popup_content{
	height: 486px;
	background-image: url(../images/Objects/BATTLES/BG/green_1.png);
}




/* Players */
.flag_red,
.flag_red_90_hor,
.flag_grey,
.flag_green_90_hor
.flag_green,
.flag_grey_90_hor,
.flag_blue,
.flag_blue_90_hor{
	width: 20px;
	height: 10px;
	position: absolute;
	right: 29px;
}


.flag_red{
	background-image: url(../images/Flags/red.gif);
}
.flag_red_90_hor{
	background-image: url(../images/Flags/red_90_hor.gif);
}


.flag_grey{
	background-image: url(../images/Flags/grey.gif);
}
.flag_grey_90_hor{
	background-image: url(../images/Flags/grey_90_hor.gif);
}

.flag_green{
	background-image: url(../images/Flags/green.gif);
}
.flag_green_90_hor{
	background-image: url(../images/Flags/green_90_hor.gif);
}

.flag_blue{
	background-image: url(../images/Flags/blue.gif);
}
.flag_blue_90_hor{
	background-image: url(../images/Flags/blue_90_hor.gif);
}




/* Buildings */
.build_flag_grey,
.build_flag_red,
.build_flag_blue{
		position:absolute;
		width:71px;
		height:8px;
}
.build_flag_top_grey,
.build_flag_top_red,
.build_flag_top_blue{
		position:absolute;
		width:18px;
		height:20px;
}
.build_flag_grey{
	background-image:url(../images/Flags/castle-flag-grey.gif);
}
.build_flag_top_grey{
	background-image:url(../images/Flags/castle-flag-top-grey.gif);
}
.build_flag_red{
	background-image:url(../images/Flags/castle-flag-red.gif);
}
.build_flag_top_red{
	background-image:url(../images/Flags/castle-flag-top-red.gif);
}
.build_flag_blue{
	background-image:url(../images/Flags/castle-flag-blue.gif);
}
.build_flag_top_blue{
	background-image:url(../images/Flags/castle-flag-top-blue.gif);
}

/* Buildings thumbs */
.build_thumb_citadel{
	width:58px;
	height:64px;
	background-image:url(../images/Objects/CASTLES/Citadel/thumb_icon.png);
	border:1px solid #8c7263;
}
.build_name{
	width:100px;
	height: 22px;
	vertical-align:top!important;
	padding:0 5px;
	color:#FFF;
	font-size:11px;
}
.build_icons div{
	width: 36px;
	text-align: center;
	float: left;
	margin:3px 2px 0 0;
}
.castle_type{
	width:36px;
	height:37px;
	background-image:url(../images/Objects/CASTLES/castle_type.png);
	background-repeat:no-repeat;
}
.castle_build_level{
	width:36px;
	height:37px;
	background-image:url(../images/Objects/CASTLES/castle_build_level.png);
	background-repeat:no-repeat;
}
.castle_money{
	width: 31px!important;
	height: 37px;
	background-image: url(../images/Objects/CASTLES/castle_money.png);
	background-repeat: no-repeat;
	font-size: 8px;
	color: #FFF;
	vertical-align: bottom!important;
	text-align: center!important;
}
.castle_money span{
	position:relative;
	bottom: -25px;
}
.build_hint_table{
	margin:0;
}
.build_hint_second_row{
	margin:0 auto;
}
.build_first_row,
.build_second_row{
	height:37px;
}
.build_col{
	float:left;
	height:35px;
	width:35px;
	margin: 1px 2px 0 2px;
}
.build_side_left,
.build_side_right{
	width:27px;
	height:36px;
	float:left;
}
.side_empty{
	background-image: url(../images/Objects/CASTLES/build_side_empty.png);
}
.col_empty{
	background-image: url(../images/Objects/CASTLES/build_col_empty.png);
}

.unselected-cursor{
	cursor: url('../images/Cursors/common.cur')!important;
	cursor: url(../images/Cursors/common.cur), -moz-zoom-in!important;
}


.hero_hint_text{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  margin-left:3px;
  padding-left:3px;
  padding-top:2px;
  background-image: url(../images/Popup/heroes/hero-name.png);
  background-repeat: no-repeat;
  color:#ffffff;
  font-size:11px;
  text-align: left !important;
}


/* Preloader */
.game-preloader{
	position:fixed;
	width: 300px;
	height: 63px;
	top: 50%;
	left: 50%;
	background-color: rgb(95, 59, 11);
	margin: -75px 0 0 -150px;
	z-index:10000;
	border: 2px solid burlywood;
}
.game-loader-string{
	width: 250px;
	height: 15px;
	margin: 10px auto;
	background: #FFF;
	position: relative;
	z-index: 9;
	font-family: Verdana;
	font-size: 10px;
	line-height: 16px;
	text-align: center;
}
.game-loader-bg{
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
}
.game-preloader h3{
	z-index: 2;
	position: relative;
	margin: 5px 23px;
	color: #FFF;
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
}
#loader-string{
	position:absolute;
	top:0px;
	left:0px;
	background-color: rgb(173, 177, 83);
	width:0%;
	height:100%;
	z-index: -1;
}
#loader-dark-screen{
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background-color:#000;
	opacity:0.9;
	z-index:1000;
}


/* Resources */
#Resources{
	width: 100%;
	height: 21px;
	background-image: url(../images/resource-bg.png);
	position: absolute;
	bottom: 0px;
	left:0px;
	z-index: 999;
	border-left: 2px solid black;
	border-bottom: 1px solid #d7d08a;
}
.resources-border-left{
	position:absolute;
	left:0px;
	background-color:#fdd086;
	width:1px;
	height:21px;
}
.resources-border-right{
	position:absolute;
	right:0px;
	background-image:url(../images/resource-brd-rgt.png);
	width:5px;
	height:21px;
}
.date-block{
	float: right;
	width: 172px;
	height: 23px;
	background-image: url(../images/date-block.png);
	position: relative;
	right: 5px;
	top: -2px;
	padding-left: 19px;
}
.date-block div{
	float: left;
	color: #FFF;
	padding: 4px;
	font-size: 13px;
	text-shadow: 1px 1px 1px #000;
}
.resources-items{
	width: 100%;
	position: absolute;
	height: 22px;
	float: left;
}
.resources-items td{
	width: 14%;
	border: 1px solid #FFF;
	height: 15px;
	float: left;
	margin: 2px 3px;
	box-shadow: inset 1px 1px 1px #000;
}
.resources-items td img{
	margin: 1px;
	float: left;
}
.resources-items td span{
	float: left;
	color: #FFF;
	font-size: 11px;
	text-shadow: 1px 1px 0px #000;
	line-height: 18px;
	margin-left: 7px;
	font-family: Verdana;
}
#SidebarReload{
	width: 59px;
	height: 27px;
	background-image: url(../images/reload.png);
	position: absolute;
	bottom: 1px;
	left: 6px;
	cursor:pointer;
}

.new_day_img{
	width: 172px;
	left: 13px;
	position: relative;
	top: 9px;
	z-index: -1;
}
#NewDayDate{
	position: absolute;
	top:20px;
	color: #FFF;
	width: 100%;
	text-align: center;
	font-size: 12px;
}
.sidebar-resource-get{
	text-align: center;
	color: #FFF;
	font-size: 11px;
	padding: 20px;
	width: 152px;
}
.sidebar-resource-name-get{
	margin:0 0 10px 0;
}
.sidebar-resource-get img{
	margin:0 0 3px 0;
}
.castle-active img{
	outline: 1px solid #ffe075;
}

.version{
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 9999;
	background-color: #000;
	color: #FFF;
	padding: 5px;
	font-family: Verdana;
	font-size: 9px;
}
.you-mine{
	color:#FFF;
}

#invisible_block{
	display:none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 998;	
}
.get-experience-icon,
.get-gold-icon{
width: 83px;
height: 93px;
float:left;
margin: 25px 7px 20px 7px;
}

.get-gold-icon{
	background-image:url(../images/Objects/RESOURCES/gold-big.png);
	margin-left: 33px;
}
.get-experience-icon{
	background-image:url(../images/PrimarySkills/Level-big.png);
}
.get-chest-or{
	float: left;
	margin-top: 102px;
	color: #FFF;
	font-size: 12px;
}
.get-experience-icon div,
.get-gold-icon div{
	color: #FFF;
	margin-top: 96px;
	font-size: 11px;
}
.chest_active{
	outline: 2px solid rgb(230, 230, 105);
}

#popup_battle
{
	width: 746px;
	height: 538px;

	margin: -269px 0 0 -373px;
}

.battleUnit
{
	position: absolute;
	z-index: 1;
}






/* BATTLE */
.battleHeroOpponent,
.battleHeroOwn
{
    position: absolute;
    width: 68px;
    height: 100px;
    top: 20px;
    left: 7px;
}

.battleHeroOpponent
{
	right: 6px;
	left: auto;
}


.battle_hero_flag_red,
.battle_hero_flag_grey
{
    width: 30px;
    height: 30px;
    position: relative;
}
.battle_hero_flag_red
{
    background-image: url(../images/Objects/BATTLES/HEROES/flag_red.png);
}
.battle_hero_flag_grey
{
    background-image: url(../images/Objects/BATTLES/HEROES/flag_grey.png);
}



.HERO_battle_red
{
    background-image: url(../images/Objects/BATTLES/HEROES/HERO_red.png);
}
.HERO_battle_red_right
{
    background-image: url(../images/Objects/BATTLES/HEROES/HERO_red_right.png);
}


.HERO_battle_grey
{
    background-image: url(../images/Objects/BATTLES/HEROES/HERO_grey.png);
}

.game-battle-grid
{
    background-image: url(../images/Objects/BATTLES/BG/cells.png);
    background-repeat: no-repeat;
}

.game-battle-grid,
.game-battle-units
{
    position: absolute;
    top: 94px;
    left: 62px;
    width: 620px;
    height: 430px;
}

.game-grid-cell
{
	float: left;

    background-image: url(../images/Objects/BATTLES/BG/cell_big.png);
}


.battle-grid-row
{
	position: absolute;

    height: 47px;
    width: 620px;
}
.battle-grid-row:nth-child(odd)
{
	margin-left: 20px;
}

.unit-number-label
{
    position: absolute;
    bottom: -1px;

    width: 23px;
    height: 9px;

    background-color: #431669;
    color: white;
    font-size: 8px;
    line-height: 9px;
    border: 1px solid #999;
}

.unit_label_right .unit-number-label 
{
    right: -11px;
}

.unit_label_left .unit-number-label 
{
    left: -25px;
}

.unit_label_left
{
    -webkit-transform: scaleX(-1);
}

.unit_label_left .unit-number-label
{
    -webkit-transform: scaleX(-1);
    right: 3px;
    left: auto;
}

.battleUnit[data-number_position=left] .unit-number-label 
{
    left: -25px!important;
}

.battleUnit[data-number_position=bottom] .unit-number-label 
{
    left: 50%;
    margin-left: -10px;
    bottom: -12px;
}

.battle-cell-color
{
    position: absolute;
    
    opacity: 0.6;

    background-image: url(/Heroes/images/Objects/BATTLES/BG/bg_cell_color.png);
}
