#Logo{
	width: 461px;
	height: 120px;
	background-image: url(../../images/Intro/logo_rus.png);
}
#menu #MenuStepOne li a,
#menu #MenuStepTwo li a {
	background-image: url(../../images/Intro/menu-rus.png);
	height: 23px;
}
#newgame {
	background-position: 19px 6;
}
#loadgame {
	background-position: 19px -19px;
}
#statistic {
	background-position: 19px -42px;
}
.exit {
	background-position: 19px -63px;
}
#singlegame {
	background-position: 19px -88px;
}
#onlinegame {
	background-position: 19px -112px;
}
#storygame {
	background-position: 19px -133px;
}
#ExitStepTwo{
	background-position: 19px -152px;
}